@import "../../assets/css/variables";
@import "../../assets/css/base";

.main-comp {
  width: 100%;
  height: 100%;
}
.home-page {
  width: 100%;
  height: 40vh;
  display: flex;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}
.city-info {
  color: $white;
  font-size: $l-size;
  display: block;
}
.date-time {
  color: $white;
  font-size: 2rem;
  display: block;
  padding-top: 2%;
}
.city-data {
  width: 50%;
  padding-left: 10%;
  float: left;
  padding-top: 3%;
}
.weather-innerdata {
  padding-bottom: 5%;
  padding-top: 2%;
}

.weather-text {
  color: $white;
  font-size: $m-size;
  vertical-align: middle;
  padding-left: 3%;
  padding-top: 10%;
}
.weather-info {
  width: 45%;
  display: flex;
  padding-top: 3%;
}
.cloud-icon {
  width: 15vh;
  vertical-align: middle;
}

.weather-table {
  padding-left: 5%;
  width: 70%;
}
.weather-table-heading {
  padding-left: 10%;
  width: 70%;
  color: $white;
  font-size: 2.5rem;
}
.text-icon {
  vertical-align: middle;
  width: 8%;
  height: 50%;
}
.temperature-text {
  color: $white;
  font-size: $l-size;
  vertical-align: middle;
  padding-left: 3%;
}
.weather-data {
  padding-left: 38%;
  padding-top: 4%;
}
