// setting all the variables to use throughout the app
//sizing
$vs-size:1.2rem;
$s-size:1.4rem;
$m-size: 1.8rem;
$l-size:3.0rem;
$xl-size:4.8rem;

//color
$white: #ffffffff; 
$purple: #290832;
$gray: #f4f4f4;
$green: #008b8b;
$customblack: #282c34;
$blue: #4080bf;
$lightYellow: #f6eabe;
$orange: #ffcc33;
;