// setting all the variables to use throughout the app
//sizing
$vs-size:1.2rem;
$s-size:1.4rem;
$m-size: 1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;

//color
$magenta: #e32c4e; 
$purple: #290832;
$gray: #f4f4f4;
$green: #008b8b;
$customblack: #282c34